@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);
html {
    font-size: 100%;
}

body {
    font-family: 'Droid Serif';
    font-size: 1.25rem;
    color: #fff;    
}

.remark-slide-content {
    background-color: #222;
}

img {
    background-color: #fff;
}

ul {
    list-style: none;
    padding: 0;
    display: inline-block;
    text-align: left;
}

li {
    padding-bottom: 12px;
}

a {
    color: #fff;
    text-decoration: none;
}

img {
    max-height: 50%;
}

h1,
h2,
h3 {
    font-family: 'Yanone Kaffeesatz';
    font-weight: normal;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 6px;
    border-radius: 3px;
    color: orange;
    color: #ff4200;
    color: #fff;
}

h1 {
    font-size: 5rem !important;
}

.white-headline h1,
.white-headline h2,
.white-headline h3 {
    color: #fff;
}

.white-text {
    color: #fff;
}

.remark-code,
.remark-inline-code {
    font-family: 'Ubuntu Mono';
}

.remark-slide-content {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.photo-credit a {
    position: absolute;
    right: 12px;
    bottom: 12px;
    text-decoration: none;
    color: #ccc;
    padding: 4px;
    border-radius: 3px;
    font-size: 0.875rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}